#body {
  font-family: Arial, Helvetica, sans-serif;
}

#hero {
  background-image: url("https://openweathermap.org/themes/openweathermap/assets/img/ukraine.png");
  background-position: center;
  background-size: cover;
  color: #e96e50;
}

#header {
  background-color: #48484a;
}

#location {
  background-color: #48484a;
}

#getWeather {
  background-color: #48484a;
}

#getLocation {
  background-color: #48484a;
}

#instructions {
  background-color: #48484a;
}

#outercard {
  background-color: #48484a;
}

#innercard {
  background-color: #e96e50;
}

#footer {
  background-color: #f2f2f2;
}
